.App {
  text-align: center;
}

.title {
  padding: 30px;
  color: white;
  background-color: darkblue;
}

.subTitle {
  margin: 5px;
}

.card {
  margin: 20px;
  background-color: rgba(255, 192, 203, 0.726);
  border: 2px solid rgb(167, 167, 167);
}